.navbar_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between
}

.nav_hamburguer__icon {
    display: none;
    visibility: hidden;
}

.navbar__menu {
    visibility: visible;
    display: flex;
}

.navbar_logo__container {
    display: flex;
    flex-direction: row;
    position: relative;
}

.navbar-user {
    display: flex;
}

@media (max-width: 1024px) {
    .navbar_container {
        flex-direction: column; 
        align-items: normal;
    }

    .hamburguer__menu {
        height: 20px;
        width: 20px;
        align-items: center;
    }

    .nav_hamburguer__icon {
        display: flex;
        visibility: visible;
        right: 0;
        position: absolute;
        border: 1px solid rgb(220, 224, 228);
        border-radius: 5px;
    }

    .navbar__menu {
        display: flex;
        align-items: center;
        left: 0;
        right: 4rem;
        margin-top: 1rem;
    }

    .navbar__menu_list {
        display: flex;
        flex-direction: column;
        left: 0;
        background-color: white;
        width: 100%;
    }

    .navbar-user {
        position: absolute;
        top: 1.5rem;
        right: 3rem;
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .navbar-dropdown {
        width: 100%;
    }

}