@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-bg: "#111B36";
}

* {
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
}

body {
  font-family: "Roboto", sans-serif;
}

/* .social-footer {
  padding-top: 0.5rem;
}

.app-container,
.social-footer {
  margin: 0 30px 0 30px;
}

@media (max-width: 1023px) {
  .app-container,
  .social-footer {
    margin: 0 120px 0 120px;  
  }
} */
